@use 'src/styles' as *;
@use '@angular/material' as mat;

.edit_container {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);


  mat-form-field {
    width: 100%;
    margin-bottom: 16px; /* Space between form fields */

    input {
      padding: 8px;
      border-radius: 4px; /* Rounded input */
    }

    .mat-form-field-wrapper {
      background-color: #f5f5f5;
      border-radius: 5px; /* Rounded form fields */
      padding-left: 10px;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 760;
    margin-bottom: 20px;
    color: mat.get-color-from-palette($instadrive-insurance-primary, 500);
  }

  mat-dialog-content {
    max-height: 55vh;
    overflow-y: auto;

    /* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;
  }

  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;

    button {
      margin-left: 10px;
      background-color: mat.get-color-from-palette($instadrive-insurance-primary, 400);
      color: white;

      // &:hover {
      //   background-color:mat.get-color-from-palette($instadrive-insurance-primary, 300)
      // }
    }

    .cancel-button {
      background-color: #f44336;
      color: white;

      &:hover {
        background-color: #e57373;
      }
    }
  }
}