<div class ="forgot-pwd">
  <mat-card class="forgot-password-card">
    <div class="forgot-password-container">
      <div class="form-wrapper">
        <h2>You forgot your password?</h2>
        <p>Here you can easily retrieve a new password.</p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Enter your email" />
            <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
              Please enter a valid email
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="forgotPasswordForm.invalid">
            Reset Password
          </button>
        </form>
      </div>

      <div class="image-wrapper">
        <img src="assets\images\login-images\car_illustration.png" alt="Forgot Password Image" /> <!-- Update with your image path -->
      </div>
    </div>
  </mat-card>

</div>
