<section class="vehicle-selection">
    <h1>Choose Your Insurance</h1>
    <div class="cards-container">
      <!-- Car Insurance Card -->
      <mat-card class="insurance-card car-insurance" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="insurance-icon">
            <mat-icon>directions_car</mat-icon> <!-- Car icon -->
          </div>
          <mat-card-title>Car Insurance</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Protect your vehicle with comprehensive car insurance that covers all your needs.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/policy/policy-list']" [queryParams]="{ type: 'car' }">View Policies</button>
        </mat-card-actions>
      </mat-card>
  
      <!-- Bike Insurance Card -->
      <mat-card class="insurance-card bike-insurance" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="insurance-icon">
            <mat-icon>directions_bike</mat-icon> <!-- Bike icon -->
          </div>
          <mat-card-title>Bike Insurance</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Secure your bike with our insurance plans tailored for two-wheelers.
          </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button [routerLink]="['/policy/policy-list']" [queryParams]="{ type: 'bike' }">View Policies</button>
        </mat-card-actions>
      </mat-card>
  
      <!-- Truck Insurance Card -->
      <mat-card class="insurance-card truck-insurance" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="insurance-icon">
            <feather-icon name="truck"></feather-icon> <!-- Truck icon -->
          </div>
          <mat-card-title>Truck Insurance</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Ensure the safety of your truck with our robust insurance coverage.
          </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button [routerLink]="['/policy/policy-list']" [queryParams]="{ type: 'truck' }">View Policies</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
  