<div style="height: 60px;"></div>

<div class="list-container">
  <!-- Dimmed background overlay that will activate on scroll/focus -->
  <div *ngIf="isFocused" class="dim-background"></div>

  <div class="policy-group">
    <!-- Form Filter -->
    <div #formBackdrop class="form-backdrop">
      <form #formFilter [formGroup]="policyListForm" (ngSubmit)="onSubmit()" class="formFilter">
        
        <!-- Type Dropdown -->
        <div class="inp-div">
          <label>Type</label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of typeOptions" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </div>

        <!-- Engine CC Dropdown -->
        <div class="inp-div">
          <label>Engine CC</label>
          <mat-select formControlName="engineCC">
            <mat-option *ngFor="let cc of engineCCOptions" [value]="cc">{{ cc }}</mat-option>
          </mat-select>
        </div>

        <!-- Seating Capacity Dropdown -->
        <div class="inp-div">
          <label>Seating Capacity</label>
          <mat-select formControlName="seatingCapacity">
            <mat-option *ngFor="let capacity of seatingCapacityOptions" [value]="capacity">{{ capacity }}</mat-option>
          </mat-select>
        </div>

        <!-- Plan Type Dropdown -->
        <div class="inp-div">
          <label>Plan Type</label>
          <mat-select formControlName="planType">
            <mat-option *ngFor="let plan of planTypeOptions" [value]="plan">{{ plan }}</mat-option>
          </mat-select>
        </div>

        <button mat-raised-button type="submit">Filter</button>
      </form>
    </div>

    <!-- Policy List -->
    <div class="parent">
      <div class="policy-list">
        <div *ngFor="let plan of filteredPlans" class="policy-card">
          <div class="policy-card-header">
            <div class="policy-card-title">
              <div class="title-text">
                <span class="plan-name">{{ plan.planName }}</span>
                <span class="type">{{ plan.vehicleType }}</span>
              </div>
              <span class="subtitle">{{ plan.planType }}</span>
            </div>
          </div>

          <div class="policy-card-body">
            <div class="description">{{ plan.description }}</div>
            <div class="premium">{{ "₹ " + plan.basePremium }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Highlighter -->
  <div #highlight class="highlight">
    Fill the above form to get your policy pricing approximation!
    <button mat-icon-button class="close-button" (click)="removeFocus()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
