<mat-nav-list class="side-nav">
    <div class="side-nav-title">
        <!-- Company Logo -->
        <mat-icon class="company-icon">eco</mat-icon>
        Admin
    </div>
    <a class="nav-items" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i-feather name="home"></i-feather>
        Dashboard
    </a>
    <a class="nav-items" routerLink="/admin/new-approval" routerLinkActive="active">
        <i-feather name="file-plus"></i-feather>
        New Approval
    </a>
    <a class="nav-items" routerLink="/admin/claims-approval" routerLinkActive="active">
        <i-feather name="file-text"></i-feather>
        Claims Approval
    </a>

    <span class="spacer"></span>

    <!-- TODO: Add Logout Logic -->
    <a class="nav-logout" routerLink="/"> <i-feather name="log-out"></i-feather>
        Logout
    </a>
</mat-nav-list>