<mat-nav-list class="side-nav">
  <div class="side-nav-title">
    <!-- Company Logo -->
    <mat-icon class="company-icon">eco</mat-icon>
    Admin
    <div class="profile-group">
      <button mat-icon-button [matMenuTriggerFor]="profileMenu" matTooltip="Profile" class="profile-button">
        <mat-icon>person</mat-icon> <!-- Profile icon -->
      </button>
      <mat-menu #profileMenu="matMenu" class="profile-menu">
        <div class="title">{{ profile.username }}</div>
        <div class="subtitle">{{ profile.email }}</div>
        <div class="nav-divider"></div>
        <button mat-menu-item class="profile-btn" (click)="navigateToProfile()">Profile</button>
        <!-- Removed Logout from the profile menu -->
      </mat-menu>
    </div>
  </div>

  <!-- Dashboard Link -->
  <a class="nav-items" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <i-feather name="home"></i-feather>
    Dashboard
  </a>

  <!-- New Approval Link -->
  <a class="nav-items" routerLink="/admin/new-approval" routerLinkActive="active">
    <i-feather name="file-plus"></i-feather>
    New Approval
  </a>

  <!-- Claims Approval Link -->
  <a class="nav-items" routerLink="/admin/claims-approval" routerLinkActive="active">
    <i-feather name="file-text"></i-feather>
    Claims Approval
  </a>

  <!-- Admin Options (Accidental Covers & Accessories) -->
  <a class="nav-items" routerLink="/admin/admin-options" routerLinkActive="active">
    <i-feather name="shield"></i-feather>
    Insurance Options
  </a>

  <!-- Admin Plans (Plan Management) -->
  <a class="nav-items" routerLink="/admin/admin-plans" routerLinkActive="active">
    <i-feather name="layers"></i-feather>
    Plan Management
  </a>

  <span class="spacer"></span>

  <!-- Logout -->
  <a class="nav-logout" (click)="logout()">
    <i-feather name="log-out"></i-feather>
    Logout
  </a>
</mat-nav-list>
