<div class="reset-pwd">
  <mat-card class="reset-password-card">
    <div class="reset-password-container">
      <div class="form-wrapper">
        <h2>Reset your password</h2>
        <p>Please enter your new password below.</p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

          <!-- Email Field -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Enter your email" />
            <mat-error *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched">
              Please enter a valid email
            </mat-error>
          </mat-form-field>

          <!-- New Password Field -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="New Password" />
            <mat-error *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
              Password is required
            </mat-error>
          </mat-form-field>

          <!-- Confirm Password Field -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
            <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
              Please confirm your password
            </mat-error>
          </mat-form-field>

          <!-- Reset Button -->
          <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="resetPasswordForm.invalid">
            Reset Password
          </button>
        </form>
      </div>

      <!-- Optional Image for Layout -->
      <div class="image-wrapper">
        <img src="assets\images\login-images\car_illustration.png" alt="Reset Password Image" />
      </div>
    </div>
  </mat-card>
</div>
