.reset-pwd {
  padding: 100px;
}

.reset-password-card {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .reset-password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .form-wrapper {
      flex: 1;
      max-width: 400px;
      margin: auto;
      text-align: left;

      h2 {
        margin-bottom: 10px;
        font-size: 24px;
      }

      p {
        margin-bottom: 20px;
        font-size: 16px;
      }

      mat-form-field {
        width: 100%;
      }

      button {
        margin-top: 20px;
        width: 100%;
      }
    }

    .image-wrapper {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
