<div class="filter-container">
  <!-- Status Filter -->
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(value)]="filterStatus" (selectionChange)="applyFilter()">
      <mat-option value="">All</mat-option>
      <mat-option value="Under Review">Under Review</mat-option>
      <mat-option value="Approved">Approved</mat-option>
      <mat-option value="Rejected">Rejected</mat-option>
      <mat-option value="Pending">Pending</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Date of Incident Filter -->
  <mat-form-field>
    <mat-label>Incident Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="filterDate" (dateChange)="applyFilter()" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div class="table-wrapper">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="table-container">
      <!-- Column for Index -->
      <ng-container matColumnDef="index">
        <th mat-header-cell class="header-row" *matHeaderCellDef>R.Id</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <!-- Column for User Name and Claim Number -->
      <ng-container matColumnDef="claimUser">
        <th mat-header-cell class="header-row" *matHeaderCellDef>Name <br> Claim No.</th>
        <td mat-cell *matCellDef="let element">
          <span style="font-weight: 400;">{{ element.name }}</span> <br />
          <span>{{ element.claimNumber }}</span>
        </td>
      </ng-container>

      <!-- Column for Date of Incident -->
      <ng-container matColumnDef="dateOfIncident">
        <th mat-header-cell class="header-row" *matHeaderCellDef>Incident Date</th>
        <td mat-cell *matCellDef="let element">{{ element.dateOfIncident ? (element.dateOfIncident | date:'shortDate') : 'N/A' }}</td>
      </ng-container>

      <!-- Column for Claim Amount -->
      <ng-container matColumnDef="claimAmount">
        <th mat-header-cell class="header-row" *matHeaderCellDef>Claim Amount</th>
        <td mat-cell *matCellDef="let element" style="text-align: end;">
          <span>{{ element.claimAmount }}</span>
        </td>
      </ng-container>

      <!-- Column for Approved Amount -->
      <ng-container matColumnDef="approvedAmount">
        <th mat-header-cell class="header-row" *matHeaderCellDef>Approved Amount</th>
        <td mat-cell *matCellDef="let element" style="text-align: end;">
          <span style="font-weight: 400;" [ngClass]="{
              'amt-approved': element.status === 'Approved',
              'amt-rejected': element.status === 'Rejected'
            }">
            {{ element.approvedAmount }}
          </span>
        </td>
      </ng-container>

      <!-- Column for Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell class="header-row" *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="{
              'status-submitted': element.status === 'Submitted',
              'status-under-review': element.status === 'Under Review',
              'status-approved': element.status === 'Approved',
              'status-rejected': element.status === 'Rejected'
            }">
            {{ element.status }}
          </span>
        </td>
      </ng-container>

      <!-- Column for Description -->
      <ng-container matColumnDef="description">
        <th mat-header-cell class="header-row" *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <!-- Column for Remarks -->
      <ng-container matColumnDef="remarks">
        <th mat-header-cell class="header-row" *matHeaderCellDef>Remarks</th>
        <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
      </ng-container>

      <!-- Define Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row header"></tr>

      <!-- Define Data Rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row col" (click)="selectHandler(row)"></tr>
    </table>

    <div style="height: 76px;"></div>
  </div>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons class="paginator"></mat-paginator>
</div>
