<div style="height: 70px;">
</div>
<div class="profile-container">
    <div class="banner-container">
        <p>My Profile</p>

    </div>

    <div class="profile-content">
        <div class="profile-card">
            profile
        </div>
        <div class="policies-card">
            <p>Policies</p>

            <div class="policy">
                <div class="policy-info">
                    <div class="general-info">
                        <div>MARUTISX4</div>

                        <!-- TODO: Uncomment below after service implementation -->
                       <!-- <div 
                         [ngClass]="{
                            'status-active': element.status === 'Active',
                            'status-expired': element.status === 'Expired'
                          }" -->
                        <div
                        class="status-active"
                        
                        >Active</div>
                    </div>

                    <div class="vehicle-info">
                        DLIOCB1234 | 2011 | Petrol
                    </div>

                </div>
                
                <!-- TODO: Uncomment below after service implementation -->
                <!-- <div 
                    [ngClass]="{
                    'action-active-button': element.status === 'Active',
                    'action-active-button': element.status === 'Expired'
                    }" -->
                <div class="action-active-button">
                    Claim
                </div>
            </div>
        </div>
    </div>
</div>