<mat-toolbar class="top-nav"  [ngClass]="{'scrolled': isScrolled}">
    <a mat-button class="company-group" [href]="siteConfig.nav[0].href">
        <!-- Company Logo -->
        <mat-icon class="company-icon">eco</mat-icon>

        <!-- Company Name -->
        <span class="company-name">{{ siteConfig.name }}</span>
    </a>

    <span class="nav-spacer"></span>

    <nav class="nav-group" aria-label="TopNavItems">
        <div *ngFor="let item of siteConfig.nav" class="nav-item">
            <a [href]="item.href" style="position: relative;" class="nav-link">{{ item.name }}</a>
        </div>
    </nav>

    <span class="nav-spacer"></span>

    <ng-container *ngIf="!loggedIn">
    <div class="nav-buttons-group">
        <button mat-button class="nav-button" (click)="navigateToLogin()">
            Sign in
        </button>
        <button mat-raised-button color="primary" class="nav-button" (click)="navigateToSignUp()">
            Sign up
        </button>
    </div>
   </ng-container>

   <ng-container class="profile-group" *ngIf="loggedIn">
    <button mat-icon-button [matMenuTriggerFor]="profileMenu" matToolTip="Profile" class="profile-button">
        <img src="profile.avatar" />
    </button>
    <mat-menu class="profile-menu" #profileMenu="matMenu">
        <button mat-menu-item>{{ profile.username }}</button>
        <button mat-menu-item>{{ profile.email }}</button>
        <span class="nav-divider"></span>
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Settings</button>
        <span class="nav-divider"></span>
        <button mat-menu-item>Logout</button>
    </mat-menu>

   </ng-container>

</mat-toolbar>

<!-- <div style="height: 50px" aria-label="spacer">
</div> -->
