@use 'src/styles' as *;
@use '@angular/material' as mat;

.admin-details-container {
  padding: 20px;
  font-family: 'Roboto', sans-serif; // Change according to your font family
  display: flex;
  flex-direction: column; // Arrange rows vertically

  .admin-title {
    font-size: 24px; // Adjust font size as needed
    color:mat.get-color-from-palette($instadrive-insurance-onsurface, 300);
  }

  .detail-row {
    display: flex;
    justify-content: space-between; // Space items equally
    margin: 10px 0;


    .detail-column {
      display: flex;
      align-items: center; // Center items vertically
      justify-content: space-between;
      padding: 0 10px; // Padding for spacing between columns

      // Style for icon
      mat-icon {
        margin-right: 8px; // Space between icon and text
        color: mat.get-color-from-palette($instadrive-insurance-primary, 500); // Primary theme color
      }

      .label {
        color:mat.get-color-from-palette($instadrive-insurance-onsurface, 300);
        font-weight: 650 !important;
        margin-right: 5px; // Space between label and value
      }

      .value {
        color: black; // Set value color to black
      }
    }

    .email-column {
      min-width: 0;
    }

  }

  // Specific styles for detail-row to control layout
  .detail-row:nth-child(1) {
    justify-content: space-between; // 4 columns
  }

  .detail-row:nth-child(2) {
    justify-content: space-between;
  }

  .detail-row:nth-child(3) {
    justify-content: space-between; // 3 columns
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end; // Aligns the button to the right
  padding: 10px; // Optional: adjust padding as needed
}

// Dialog actions styles
.dialog-actions {
  display: flex;
  justify-content: flex-end; // Aligns the button to the right
  padding: 10px; // Optional: adjust padding as needed

  // Button styles
  .done-button {
    background-color: mat.get-color-from-palette($instadrive-insurance-primary, 300); // Use the same color as the icon
    color: white; // Set button text color to white
    border: none; // Remove border
    border-radius: 4px; // Rounded corners
    padding: 10px 20px; // Button padding
    cursor: pointer; // Pointer cursor on hover
    transition: background-color 0.3s; // Transition effect

    &:hover {
      background-color: darken(mat.get-color-from-palette($instadrive-insurance-primary, 300), 10%); // Darken color on hover
    }
  }
}